<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="Your Connection String"/>
  </connectionStrings>
  <appSettings>
    <add key="botToken" value="YourBotToken"/>
    <add key="adminChatId" value="Your ChatAdminChatId"/>
  </appSettings>
</configuration>
